.home-principal-title{
    font-family: 'Monserrat', sans-serif;
    font-size: 70px;
}
.home-text-scroll{
    font-family: 'Monserrat', sans-serif;
    font-size: 30px;
    opacity: 0.20;
}
.better-world-title{
    font-family: 'Monserrat', sans-serif;
    font-size: 53px;
    font-weight: 600;
}
.better-w-first-tex{
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
}
.metric-principal-txt{
    font-family: 'Monserrat', sans-serif;
    font-size: 40px;
}
.metric-sec-tx{
    font-family: 'Monserrat', sans-serif;
    font-size: 15px;
}
.we-transform-title {
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
}

.we-trnsf-sec-txt{
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
}